{% extends 'tlb_base.html' %}
{% load markup %}

{% block content %}
<article id="bio" class="standard">

    <div class="col-1 column-text">
        <h1 class="stretch">{{ bio.title }}</h1>
        {{ bio.content1|linebreaks }}

        <img
            src="{{ MEDIA_URL }}{{ bio.ad }}"
            alt="An old silly ad for hats."
            title="Get yr hats!!"
            class="ad"
        />
    </div>

    <div class="cols-23">
        <img
            src="{{ MEDIA_URL }}{{ bio.photo }}"
            alt="The Three Little Birds being Three Silly Little Birds"
            title="Three Silly Birds"
            class="photo"
        />

        <div class="float-col left column-text">
            {{ bio.content2|linebreaks }}
        </div>
        <div class="float-col right">
            <div class="instrumentation">
                <h2>Instrumentation</h2>
                {{ bio.instrumentation|markdown }}
            </div>
            <div class="discography">
                <h2>Discography</h2>
                {{ bio.discography|markdown }}
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
</article>
{% endblock %}