{% extends 'tlb_base.html' %}

{% block content %}
<div id="gallery" class="standard">
    <ul>
        {% for photo in gallery %}
            <li>
                <a href="{% url galleryphoto photo_id=photo.pk %}">
                    <img
                        src="{{ photo.thumbnail.url }}"
                        width="{{ photo.thumbnail.width }}"
                        height="{{ photo.thumbnail.height }}"
                        alt="{{ photo.caption }}"
                        title="{{ photo.caption }}"
                    />
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
</div>
{% endblock %}
