{% extends 'tlb_base.html' %}

{% block content %}
<div id="home">

    <article id="feature">
        <h1>{{ feature.title|default:"Missing Content :(" }}</h1>
        {% if feature.img.src %}
            <img
                src="{{ MEDIA_URL }}{{ feature.img.src }}"
                alt="{{ feature.img.alt }}"
                title="{{ feature.img.title }}"
            />
        {% endif %}
        {{ feature.content|linebreaks }}
        {% if feature.more %}
            <p class="read-more">
                see
                <a
                    href="{{ feature.more.href }}"
                    title="Full story here: {{ feature.more.title }}">
                    {{ feature.more.title }}
                </a>
            </p>
        {% endif %}
    </article>

    <section id="extra">
        {% if track %}
            <div id="music-player">
                <h2 class="track-name">{{ track.name }}</h2>
                <div class="download">
                    Download:
                    <ul class="formats">
                        {% for format in track.formats %}
                            <li>
                                <a href="{{ MEDIA_URL }}{{ format.url }}">{{ format.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="/media">More media</a>
                </div>
            </div>
        {% endif %}
        {% if poster %}
            <div id="poster">
                {% if poster.link_to %}<a href="{{ poster.link_to }}">{% endif %}
                <img src="{{ MEDIA_URL }}{{ poster.photo }}" alt="{{ poster.alt_text }}" title="{{ poster.tooltip }}" />
                {% if poster.link_to %}</a>{% endif %}
            </div>
        {% endif %}
        <div id="social">
            facebook
            myspace
            twitter
        </div>
    </section>

    <div class="clearfix"></div>
</div>
{% endblock %}