// IMPORTANT: if any page dimensions are changed, besure to update the image 
// resizing stuff in models.py.


@import 'bp.less';

@paper-colour: #e6e0d6;
@black: #000;
@tlb-red: #d94430;

@u: 4px;

@column: 72 * @u;
@gutter: 10 * @u;
@page-width: (3 * @column) + (2 * @gutter);
@hr-thick: @u / 2;

@slider-width: (@u * 3 / 4);
@slider-thin: (@u / 4);
@slider-handle: (@u * 3);

@soc-fb: 0;
@soc-ms: 1;
@soc-tw: 2;
@soc-big-x: 65px;
@soc-big-y: 86px;
@soc-small-x: 26px;
@soc-small-y: 35px;
@soc-small-y-off: (@soc-big-y * 3);


html {
    font-size: @u;
}

body {
    font-size: 4 * @u;
    font-family: 'Minion';
    background: @paper-colour url('../../img/boilerplate/paper.jpg') 50%;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {

    }
}

p {
    line-height: 1.2em;
}

strong {
    font-weight: bold;
}

li {
    margin-left: 1em;
}

.stretch--resizer,
.stretch--handle {
    line-height: 1em;
}

#content h1 {
    font-family: 'Serial Publication';
    font-size: 10 * @u;
    text-transform: uppercase;
    &.dont-shout {
        text-transform: lowercase;
    }
}

.clear {
    clear: both;
}

#container {
    width: @page-width;
    margin: 0 auto;
    padding-top: 8 * @u;
}


#header header {
    border: @u solid @black;
    border-width: (7 * @u) 0;  // 28px
    h1 {
        height: 23 * @u;
        position: relative;
        text-transform: uppercase;
        font-size: 16 * @u;
        text-align: center;
        white-space: nowrap;
        color: @tlb-red;
    }
    h1:before,
    h1:after {
        content: "";
        position: absolute;
        height: 92px;
        width: 156px;
    }
    h1:before {
        left: 0;
        background: url('../../img/boilerplate/header-bird.png') no-repeat 0;
    }
    h1:after {
        right: 0;
        background: url('../../img/boilerplate/header-est.png') no-repeat 100%;
    }
}

#header nav {
    margin: (5 * @u) 0 (7 * @u);
    padding: (2 * @u) 0 @u;
    line-height: 1em;
    border: @u solid @black;
    border-width: @hr-thick 0;

    ul {
        text-align: center;
        word-spacing: 8px;
        li {
            margin: 0;
            display: inline;
            font-family: 'Fucking';
            letter-spacing: 2px;

            a {
                // display: inline-block;
                // padding: 0 (6 * @u);
                font-size: 4 * @u;
                // border: @u solid @black;
                // border-width: 0 @hr-thick 0 0;
                text-transform: uppercase;

                &:after {
                    content: " | ";
                }

                &.selected {
                    font-weight: bold;
                    font-weight: 900;
                    letter-spacing: 0px;
                }
            }
            &:first-child a {
                // border-left-width: @hr-thick;
                &:before {
                    content: " | ";
                }
            }
        }
    }
}


#home #feature {
    width: (2 * @column) + @gutter;
    float: left;

    img {
        width: (2 * @column) + @gutter;
        margin: (2 * @u) 0 (5 * @u);
    }

    .read-more {
        text-align: right;
        margin: (@u * 2) 0;
        font-style: italic;

        a {
            font-weight: bold;
        }
    }
}

#home #extra {
    width: @column;
    float: right;
}

#music-player {
    padding: (@u / 2);
    border: 2px solid @black;

    .track-name {
        font-size: (@u * 8);
        font-family: 'Muncie';
        text-align: center;
    }

    .no-js {
        li {
            margin-left: 1em;
        }
        a {
            font-weight: bold;
        }
    }
}
.js #music-player {

    .download {
        display: none;
    }

    .ui-slider {
        height: @slider-thin;
        width: 100%;
        background: @black;
    }
    .ui-slider-range {
        height: @slider-width;
        background: @black;
        position: relative;
        top: (-@slider-thin);
    }
    .ui-slider-handle {
        display: block;
        outline: none;
        position: absolute;
        top: 0;
        width: @slider-handle;
        height: @slider-handle;
        border-radius: @slider-handle;
        margin: (-@slider-handle / 2) 0 0 (-@slider-handle / 2);
        background: @black;
        cursor: default;
    }

    .controls {

        .progress {
            position: relative;
            margin: (@u) (@u) (@u * 4);
        }

        .playnav {
            display: block;
            float: left;
            padding: 0 0 (@u * 2) (@u);
            font-family: 'Player Control';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

            font-size: (@u * 4);
            letter-spacing: (@u * 4);
            color: @black;
        }

        .volume {
            position: relative;
            float: right;
            width: (@column - @u * 50);
            margin: 0.4em (@u * 2) 0 0;
            .ui-slider {
                height: @slider-width;
            }
            .ui-slider-range {
                top: 0;
            }
            .ui-slider-handle {
                top: 1px;
            }
        }
    }
}


#poster {
    margin: (@u * 6) 0;
    img {
        width: @column;
    }
}


.social-shortcuts {
    a {
        display: inline-block;
        vertical-align: middle;
        background: url('../../img/social-sprite.png') 0 0 no-repeat;
        font-size: 0;
        color: rgba(0, 0, 0, 0);
    }
}

#social {
    margin: (@u * 6) 0;
    padding: (@u * 4);
    border: 2px solid @black;
    text-align: center;
    letter-spacing: (@u * 4);

    a {
        width: @soc-big-x;
        height: @soc-big-y;

        &.facebook { background-position: 0 -(@soc-big-y * @soc-fb); }
        &.myspace { background-position: 0 -(@soc-big-y * @soc-ms); }
        &.twitter { background-position: 0 -(@soc-big-y * @soc-tw); }
    }
}


#bio {
    h1 {
        margin: 0 0 -(@u * 4) 0;
    }
    h2 {
        font-size: 1em;
        font-weight: bold;
        color: @tlb-red;
    }
    p {
        margin: 1em 0;
        &:first-child { margin-top: 0; }
    }

    .col-1 {
        float: left;
        width: @column;

        img.ad {
            width: @column;
        }
    }

    .cols-23 {
        float: right;
        width: (@column * 2 + @gutter);

        img.photo {
            width: (@column * 2 + @gutter);
            margin: 0 0 @gutter 0;
        }
    }

    .float-col {
        width: @column;
        &.left { float: left; }
        &.right { float: right; }
    }

    .float-col.right {
        p {
            margin: 0.667em 0;
            line-height: 1.2em;
        }
    }

    .discography {
        margin-top: 1.5em;
    }
}


#gallery {
    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul {
        margin: -(@gutter / 2);
    }
    li {
        float: left;
        width: @column;
        height: @column;
        margin: (@gutter / 2);
    }
}

#media {
    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 1.333em;
    }

    .good-news {
        float: left;
        width: (@column * 2 + @gutter * 2);
        margin-right: -@gutter;

        .match-stretch {
            line-height: 1em;
        }

        li {
            float: left;
            width: @column;
            margin: 0 @gutter @gutter 0;
        }
    }

    .bad-news {
        float: right;
        width: @column;
    }
}


#contact {
    a:hover {
        text-decoration: underline;
    }
    h1 {
        margin-bottom: -(@u);
    }

    input[type="text"],
    input[type="email"],
    textarea,
    button {
        margin: 0.5em 0;
        padding: 1em 1.5em 0.5em;
        box-sizing: border-box;
        font-family: inherit;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: @column;
    }
    input,
    textarea {
        background: none;
        background: transparent;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid @black;
        border-color: rgba(0, 0, 0, 0.8);

        &:focus {
            background: rgba(255, 255, 255, 0.4);
            border-color: @black;
        }
    }
    textarea {
        height: (@gutter * 5);
    }
    button {
        margin: 0.333em 0 2em;
        padding-left: 2em;
        padding-right: 2em;
        float: right;
        border: none;
        border-radius: 0;
        color: white;
        background: @black;
    }

    .col-1 {
        width: @column;
        float: left;
        margin-right: @gutter;
    }
    .col-2 {
        width: @column;
        float: left;

        .social-shortcuts {
            // margin: (@u * 12) 0 0;
            padding: (@u * 4) 0;
            text-align: center;
            letter-spacing: (@u * 4);
            border: 2px solid @black;

            a {
                width: @soc-big-x;
                height: @soc-big-y;

                &.facebook { background-position: 0 -(@soc-big-y * @soc-fb); }
                &.myspace { background-position: 0 -(@soc-big-y * @soc-ms); }
                &.twitter { background-position: 0 -(@soc-big-y * @soc-tw); }
            }   
        }

        &.cc-float {
            input,
            label {
                width: auto;
                display: inline;
                vertical-align: baseline;
                margin-top: 2em;
            }
        }
    }
    .col-3 {
        width: @column;
        float: right;

        img.ad {
            width: @column;
        }
    }
}


#footer footer {
    border-top: @hr-thick solid @black;
    margin: 5 * @u 0;
    padding: (5 * @u) 0;

    .copyright-notice {
        float: left;
    }
    .social-shortcuts {
        float: right;
        letter-spacing: (@u * 2);

        a {
            width: @soc-small-x;
            height: @soc-small-y;
            margin-top: (-@u * 2);

            &.facebook {
                background-position: 0 -(@soc-small-y-off + @soc-small-y * @soc-fb);
            }
            &.myspace {
                background-position: 0 -(@soc-small-y-off + @soc-small-y * @soc-ms);
            }
            &.twitter {
                background-position: 0 -(@soc-small-y-off + @soc-small-y * @soc-tw);
            }
        }
    }
}
